a[href]:not([tabindex="-1"]),
area[href]:not([tabindex="-1"]),
button:not([disabled]):not([tabindex="-1"]),
iframe:not([tabindex="-1"]),
[tabindex]:not([tabindex="-1"]),
[contentEditable="true"]:not([tabindex="-1"]) {
  @apply focus-visible:(outline-accent-fg -outline-offset-2 outline-2 outline-none);
}

body {
  @apply font-normal text-fg-default;
}

:root {
  --header-logo: #007dff;
}
